# Byte-compiled / cache
__pycache__/
*.py[cod]

# Environments
venv/
.env
.venv/
**/.env

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs and run artifacts
*.log
*.out
*.err
*.pid

# Local data and databases
data/
local_db/

# Streamlit
.streamlit/

# Node.js
node_modules/
dist/
build/
.cache/
.env.local
.env.*.local
.eslintcache
.stylelintcache
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
